/* 基础样式保持不变 */

/* 移动header的样式到顶部并使其横向排列 */
header {
  width: 100%; /* 设置宽度为100% */
  margin: 0 auto; /* 居中对齐 */
  float: none;
  position: static; /* 非固定定位 */
  display: block; /* 以块状元素显示 */
  background-color: #f4f4f4; /* 背景色，可根据实际情况调整 */
  box-sizing: border-box; /* 确保内边距不影响宽度 */
  -webkit-font-smoothing: subpixel-antialiased;
}

/* 使用flexbox来布局导航链接 */
header ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex; /* 启用flexbox */
  justify-content: center; /* 项目在主轴居中对齐 */
  align-items: center; /* 项目在交叉轴居中对齐 */
}

/* 调整导航项样式 */
header li {
  border-right: none; /* 移除不需要的边框 */
}

/* 调整导航链接样式 */
header ul a {
  line-height: 1.5;
  padding: 10px 15px; /* 增加内边距 */
  font-size: 14px; /* 字体大小可根据需要调整 */
  color: #999;
  display: block;
  text-align: center;
}

/* section和footer样式调整，确保在导航栏下方显示 */
section, footer {
  width: 100%; /* 宽度设为100% */
  margin-top: 20px; /* 或更大的值，确保在导航栏下方有足够空间 */
}

/* 移除不再需要的浮动和固定定位样式 */
.wrapper, footer {
  float: none;
  position: static;
}

/* 确保在小屏幕上导航栏的显示效果也是横向的 */
@media screen and (max-width: 960px) {
  header ul {
    flex-direction: row; /* 保持横向排列 */
  }
}

/* 在更小屏幕上的调整 */
@media screen and (max-width: 720px) {
  header, section, footer {
    width: 100%; /* 宽度设为100%，确保在小屏幕上也是全宽 */
  }
}

@media screen and (max-width: 480px) {
  header ul {
    flex-direction: row; /* 同样保持横向排列 */
  }
  
  /* 调整小屏幕上的header ul宽度 */
  header ul {
    width: 100%; /* 宽度设为100% */
  }

  header li,
